
section {
    margin-bottom: 20px;
}

.box {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: white;
}

.blue {
    background-color: rgba(0,108,250,255);
}

.green-box {
    border: 1px solid rgba(0,108,250,255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,225,101,255);
    min-height: 50px;
}

.cont {
    border: 1px solid white;
    min-height: 50px;
    color: white;
}

.padding {
    padding: 10px;
}

.empty-blue {
    border: 1px solid white;
    min-height: 50px;
    background-color: rgba(0,108,250,255);
}

.big-box {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: white;
}